:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --primary-bg-color: #FFFFFF;
    --bg-color: #F5F4FA;
}

body {
    /* outline: 2px solid tomato;  */
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;
}

.logo {
    text-decoration: none;
    color: var(--primary-text-color);
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo-in {
    color: var(--accent-color);
    font-family: raleway, sans-serif;
}

.list {
    list-style: none;
    text-decoration: none;
}

.site-nav .link {
    text-decoration: none;
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.auth-nav .link {
    text-decoration: none;
    color: var(--title-text-color);
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}

.hero {
    background: rgba(47, 48, 58, 0.8);
    color: var(--primary-bg-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
}

.button {
    width: 216px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.portfolio-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color:  var(--bg-color);
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--primary-bg-color);
    background-color:  var(--accent-color);
}

.section-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* ІНФОРМАЦІЙНИЙ БЛОК */
.feature .title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.feature .text {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

/* ЧИМ ЗАЙМАЄМОСЯ */
.produkt .title {
    width: 370px;
    height: 70px;
    text-transform: uppercase;
    color: var(--primary-bg-color);
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

/* НАША КОМАНДА */
.comando {
    background: var(--bg-color);
}
.comando .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.comando .text {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
}

/* ПІДВАЛ footer */
footer {
    background: #2F303A;
    color: var(--primary-bg-color);
}

.footer .logo {
    color: var(--primary-bg-color);
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.footer .maps {
    font-style: normal;
    text-decoration: none; 
    color: var(--primary-bg-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.footer .coll {
    font-style: normal;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.footer .coll:hover,
.footer .maps:hover,
.footer .coll:focus,
.footer .maps:focus {
    color: var(--accent-color);
}

.footer .title {
    text-transform: uppercase;
    color: var(--primary-bg-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.footer .border {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.footer .copery {    
    text-align: center;
    color: var(--primary-bg-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
}

/* НАШІ РОБОТИ portfolio */
.developer .title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.developer .text {
    color: var(--primary-bg-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
}

.developer .filter {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}
